.jumbotron {
    background-image: url("../images/map2.png");
    color: white;
}

body{
    background-image: url("../images/halftone-yellow.png");
    font-family: 'Roboto Slab', serif;
}

#show{
    background-color: whitesmoke;
    display: none;
}

#endgame{
    background-color: whitesmoke;
    
}

.display-4{
    font-size: 150px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#again{
    z-index: 1000;
}

#enter{
    display: none;
}

#card1{
    display: none;
}

.lead{
    font-size: 45px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

#temo{
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.portal{
    text-align: center;
    margin: auto;
}

.portal2{
    text-align: center;
    display: inline;
}

